.classy {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.whitey {
    color: #fff;
}

.redd {
    color: #f52b2b;
}

.anchor-wrapper {
    width: 100%;
    padding: 8px;
    border-right: 3px solid #E0E0E0;
}

.anchor-wrapper:last-of-type {
    border-right: none;
  }

.nav-anchor {
    height: 62px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nav-anchor:hover {
    border: 2px solid #42A5F5;
    color: #FFCC80;
}
